.overlay {
	backdrop-filter: blur(80px);
}

.actions {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}

.okButton {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 8px 16px;
	border-radius: 4px;
	cursor: pointer;
	margin-right: 10px;
}

.cancelButton {
	background-color: #dc3545;
	color: white;
	border: none;
	padding: 8px 16px;
	border-radius: 4px;
	cursor: pointer;
}
